@import "/variables";

.wraper {
	width: 100%;
	margin: 0;
	padding: 0 40px;
	box-sizing: border-box;
	@media (max-width: $phone) {
		padding: 0;
	}
}
.container {
	max-width: 1600px;
	width: 100%;
	box-sizing: border-box;
	padding: 50px;
	margin: 20px auto;
	box-shadow: 5px 5px 15px 0 $back;
	min-height: calc(100vh - 185px);
	@media (max-width: $phone) {
		box-shadow: none;
		padding: 20px;
	}
}